# Force HTTPS
<IfModule mod_rewrite.c>
RewriteEngine On

# Redirect to HTTPS if not already using it
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>


Redirect 301 /philosophy.html https://www.caringchoicenetwork.com/index.html
Redirect 301 /contact.html https://www.caringchoicenetwork.com/index.html
Redirect 301 /services.html https://www.caringchoicenetwork.com/index.html